<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Timeline Generator</title>

    {{ $variables := resources.Get "css/variables.css" }}
    {{ $base := resources.Get "css/base.css" }}
    {{ $terminal := resources.Get "css/terminal.css" }}
    {{ $typography := resources.Get "css/typography.css" }}
    {{ $posts := resources.Get "css/posts.css" }}
    {{ $code := resources.Get "css/code.css" }}
    {{ $tables := resources.Get "css/tables.css" }}
    {{ $images := resources.Get "css/images.css" }}
    
    {{ $css := slice $variables $base $terminal $typography $posts $code $tables $images | resources.Concat "css/style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  </head>
  <body>
    <button id="login-btn" onclick="_login()">Log In</button>
    <button id="logout-btn" onclick="logout()">Log Out</button>
    
    <script src="https://cdn.auth0.com/js/auth0-spa-js/2.1/auth0-spa-js.production.js"></script>

    {{ $js := resources.Get "js/app.js" }}
    <script src="{{ $js.RelPermalink }}"></script>

    <div class="hidden" id="gated-content">
      <p>
        You're seeing this content because you're currently
        <strong>logged in</strong>.
      </p>
      <label>
        Access token:
        <pre id="ipt-access-token"></pre>
      </label>
      <label>
        User profile:
        <pre id="ipt-user-profile"></pre>
      </label>
    </div>
  </body>
</html>
