#gated-content {
  background: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 0;
  width: 95%;
  border: 1px solid var(--border);
  overflow: auto;
}

#logged-out-content {
  padding: 24px;
  text-align: center;
}

.tos {
  padding: 24px;
}
